<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        
        <p>username:<br>
            <input required type="text" name="username" placeholder="Enter username"/>
        </p>  
        <p>email:<br>
            <input required type="text" name="email" placeholder="Enter email"/>
        </p>  
        <p>Password:<br>
            <input required type="text" name="password" placeholder="Enter password"/> 
        </p>
        <p>Confirm_Password :<br>
            <input required type="text" name="cpassword" placeholder="Confirm_password"/> 
        </p>
        <button>Submit</button>
   
   
    </form>
        
        
        
    
</body>
</html>