<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
   
    <h1>Simple Notes App </h1>
    <p>
        This is an user-friendly webpage which includes basic functionality for adding, viewing, editing, and deleting notes.
        You can extend it by adding more features like user authentication, better UI, or even deploying it to the web!
    
    </p>
    <center>
        <a href="{{url_for('create')}}">
            <p><button>create</button></p>
        </a>
        <a href="{{url_for('login')}}">
        <p><button>login</button></p>
        </a>
    </center>
</body>
</html>